@import url(../../fonts/iconfont.less);
*{
	box-sizing: border-box;
}
.com-header {
	height: 40px;
	background-color: #000;
	width: 100%;
	padding:0 22px;
	line-height: 40px;
	text-align: center;
	.icon-menu{
		font-size: 24px;
		float: left;
		font-weight: bold;
	}
	.icon-logo{
		font-size: 24px;
	}
	.login{
		font-size: 17px;
		float: right;
	}


}
